body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #111;
    color: white;
    padding-top: 20px;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #575757;
}

/* Main Content */
.main {
    margin-left: 220px;
    padding: 20px;
    width: 100%;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}